@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}
.linear1 {
  background-image: linear-gradient(
    to top,
    rgb(7, 6, 6, 0.5) 1%,
    rgb(7, 6, 6, 0.3) 10%,
    rgba(255, 0, 0, 0)
  );
}
.linear2 {
  background-image: linear-gradient(
    to bottom,
    rgb(7, 6, 6, 0.5) 1%,
    rgb(7, 6, 6, 0.3) 10%,
    rgba(255, 0, 0, 0)
  );
}
